<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Inventory Management</title>
		<link rel = "stylesheet" href = "css/bootstrap.css">
		<link rel = "stylesheet" href = "css/main.css">
		<script src = "js/angular.min.js"></script>
		<script src = "js/app.js"></script>
		<script src = "js/main.control.js"></script>
	</head>

  <body >
	<div class="navbar-fixed-top">
		<div class="container">
			<ul class="nav nav-pills">
				<li><a href="index.html">Home</a></li>
				<li><a href="invenQuery.html">Inventory Query</a></li>
				<li><a href="invenAdd.html">Add Inventory</a></li>
				<li><a href="#">Remove Inventory</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
	</div>

    <div class="jumbotron">
		<div class="container">
			<h1>Inventory Management</h1>
			<p>Monitor and Manage Essential Inventory</p>
		</div>
    </div> 

	
    <div class="learn-more" ng-app="InventoryApplication" ng-controller="QueryController as main">
		<div class = "container">
			<h1>{{main.title}}</h1>
			
			<div class="clearfix"></div>
			<h3>Add Items to Inventory</h3>
			<form name="main.addForm" class="form">
			
				<div class="row">
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Item ID</label>
							<input type="text" class="form-control" ng-model="main.new.id" required />
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Quantity</label>
							<input type="text" class="form-control" ng-model="main.new.quantity" required />
						</div>
					</div>
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Cost</label>
							<input type="text" class="form-control" ng-model="main.new.quantity" required />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label>Favorite: <input type="checkbox" ng-model="main.new.favorite" /></label>
					</div>
					<div class="col-xs-5">
						<button class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
  </body>
</html>