<div class="container" ng-controller="AddController as main">
	<div class = "container">
		<h1>{{main.title}}</h1>
		<div class="clearfix"></div>
		
		<form name="main.addForm" class="form">
			<!--  Main form row.  Contains inputs for part number and a description -->
			<div class="row">
				<!-- Part Number Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Part Number</label>
						<input type="text" class="form-control" ng-model="main.new.id" required />
					</div>
				</div>
				
				<!-- Part Description Field -->
				<div class = "col-sm-6">
					<div class="form-group">
						<label>Part Description</label>
						<input type="text" class="form-control" ng-model="main.new.description" required />
					</div>
				</div>
			</div>
			
			<!--  Optional part fields for quantity, cost, and UOM-->
			<!--  These fields are displayed only if the part does not contain children -->
			<div class = "row" ng-show = "!main.new.otherParts">
				<!-- Part Quantity Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Quantity</label>
						<input type="text" class="form-control" ng-model="main.new.quantity"/>
					</div>
				</div>
				
				<!-- Part Cost Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Cost</label>
						<input type="text" class="form-control" ng-model="main.new.cost"/>
					</div>
				</div>
				
				<!-- Part Unit of Measurement (UOM) Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Unit of Measurement (UOM)</label><br/>
						<select class="input-sm" ng-model="uomSelect" ng-options="option.name for option in main.uomOptions"></select>
					</div>
				</div>
			</div>
			
			<!--  Child part field options for child part and parts per item definition -->
			<!--  These fields are only displayed if the new part contains child parts -->
			<form name="main.addForm" class="form">
				<div class = "row" ng-show = "main.new.otherParts">
					<!-- Part Child Dropdown -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Children</label>
							<select class="input-sm" ng-model="childrenSelect" ng-options="option.partNumber for option in main.parts"  required ></select>
						</div>
					</div>
					
					<!-- Child Parts per Item Field -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Parts per Item</label>
							<input type="text" class="form-control" ng-model="main.new.ppi" required />
						</div>
					</div>
					
					<!-- Button to add a child to the current part -->
					<div class="col-sm-3">
						<button class="btn btn-success pull-right addChildButton" ng-click="main.addChildToPart(childrenSelect, main.new.ppi)">Add Child to Part</button>
					</div>
				</div>
			</form>
			
			<!--  Shows a listing of current child parts defined for the new part -->
			<div class="row" ng-show = "main.childrenToAdd.length > 0">
				<div class="col-sm-9">
					<ul class="list-group childListGroup">
						<li class="list-group-item" ng-repeat="item in main.childrenToAdd  | orderBy:main.order.key:main.order.reverse">{{item.partNumber}} : {{item.desc}}
							<span class="badge removeBadge" ng-click = "main.removeChildFromPart(item)">REMOVE</span>
							<span class="badge">PPI: {{item.ppi}}</span>
						</li>
					</ul>
				</div>
			</div>
			
			<!--  Contains the checkbox to indicate inclusion of child parts and the button to add the new part to the inventory. -->
			<div class="row">
				<div class="col-sm-3">
					<label><input type="checkbox" ng-model="main.new.otherParts" ng-true-value="true" ng-false-value="false" /> Made of Other Parts</label>
				</div>
				<div class="col-sm-6">
					<button class="btn btn-success pull-Right">Add Part to Inventory</button>
				</div>
			</div>
		</form>
	</div>
</div>
