<div class="container" ng-controller="AddController as main">
	<div class = "container">
		<h1>Add New Inventory Part</h1>
		<p class = "viewResponse" ng-style = "main.responseStyle">{{main.actionResponse}}</p>
		
		<form name="addForm" class="form">
			<!--  Main form row.  Contains inputs for part number and a description -->
			<div class="row">
				<!-- Part Number Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Part ID</label>
						<input type="text" class="form-control input-sm" ng-model="newPartNumber" />
					</div>
				</div>
				
				<!-- Part Description Field -->
				<div class = "col-sm-6">
					<div class="form-group">
						<label>Part Description</label>
						<input type="text" class="form-control input-sm" ng-model="newDescription" />
					</div>
				</div>
			</div>
			
			<!--  Optional part fields for quantity, cost, and UOM-->
			<!--  These fields are displayed only if the part does not contain children -->
			<div class = "row">
				<!-- Part Quantity Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Initial Quantity</label>
						<input type="text" class="form-control input-sm" ng-model="newQuantity"/>
					</div>
				</div>
				
				<!-- Part Cost Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Cost per Unit</label>
						<input type="text" class="form-control input-sm" ng-disabled = "main.childrenToAdd.length > 0" ng-model="newCost"/>
					</div>
				</div>
				
				<!-- Part Unit of Measurement (UOM) Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Unit of Measurement</label><br/>
						<select class="form-control input-sm" ng-model="newUomSelect" ng-disabled = "main.childrenToAdd.length > 0" ng-options="option.name for option in main.uomOptions"></select>
					</div>
				</div>
			</div>
			<hr/>
			<!--  Child part field options for child part and parts per item definition -->
			<!--  These fields are only displayed if the new part contains child parts -->
			<div class = "row">
				<div class = "col-sm-3">
					<h4>Add Children</h4>
				</div>
			</div>
			<div class = "row">
				<!-- Part Child Dropdown -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Child Part ID</label>
						<select class="input-sm" ng-model="newChildrenSelect" ng-options="option.partNumber for option in main.parts"  ></select>
					</div>
				</div>
				
				<!-- Child Parts per Item Field -->
				<div class = "col-sm-3">
					<div class="form-group">
						<label>Child Parts per Unit</label>
						<input type="text" class="form-control input-sm" ng-model="newPpi" />
					</div>
				</div>
				
				<!-- Button to add a child to the current part -->
				<div class="col-sm-3">
					<button class="btn btn-default pull-right addChildButton" ng-click="main.addChildToPart(newChildrenSelect, newPpi)" ng-disabled = "main.parts.length == 0">Add Child to Part</button>
				</div>
			</div>
			
			<!-- Child part listing.  A row is added here for each children appended to the current part entry. -->
			<div class="row" ng-show = "main.childrenToAdd.length > 0">
				<div class="col-md-9">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class = "partRow">Child Part Number</th>
								<th class = "partRow">Parts per Unit</th>
								<th class = "partRow">Parts Used</th>
								<th class = "partRow">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in main.childrenToAdd">
								<td class = "partRow">{{item.partNumber}}</td>
								<td class = "partRow">{{item.ppi}}</td>
								<td class = "partRow danger">{{item.ppi * newQuantity}}</td>
								<td class = "partRow">
									<span class="badge editBadge removeIcon anchor" ng-click = "main.removeChildFromPart(item)"><p class="message">Remove child</p></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<hr/>
			
			<!--  Clear and confirm buttons -->
			<div class="row">
				<div class="col-sm-7">
					<button class="btn btn-danger pull-Right" ng-click= "main.clearFields()">Clear All</button>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-success pull-Right" ng-click= "main.addPartToInventory()">Add Part to Inventory</button>
				</div>
			</div>
		</form>
	</div>
</div>
