<div class = "container" ng-controller = "HomeController as main">
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h3>Who Am I?</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis diam, dictum vel imperdiet a, 
							pulvinar ac lorem. Morbi interdum, tortor eu lobortis porttitor, mi libero consectetur eros, ut lacinia 
							purus sem a magna. Nam vitae malesuada lectus, vitae pulvinar neque. Praesent eleifend dolor eros, sit 
							amet bibendum orci tincidunt ac. Mauris non pretium diam, at fermentum diam. Mauris malesuada luctus arcu 
							eget suscipit. Nulla facilisi. Integer non felis porttitor ipsum laoreet scelerisque a a metus. Vestibulum 
							non laoreet lorem. Nulla facilisi. 
						</p>
					</div>
					<div class="col-md-4">
						<h3>What Can I Do?</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis diam, dictum vel imperdiet a, 
							pulvinar ac lorem. Morbi interdum, tortor eu lobortis porttitor, mi libero consectetur eros, ut lacinia 
							purus sem a magna. Nam vitae malesuada lectus, vitae pulvinar neque. Praesent eleifend dolor eros, sit 
							amet bibendum orci tincidunt ac. Mauris non pretium diam, at fermentum diam. Mauris malesuada luctus arcu 
							eget suscipit. Nulla facilisi. Integer non felis porttitor ipsum laoreet scelerisque a a metus. Vestibulum 
							non laoreet lorem. Nulla facilisi. 
						</p>
					<p><a href="#">Learn more about hosting</a></p>
					</div>
					<div class="col-md-4">
						<h3>Where am I Going?</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis diam, dictum vel imperdiet a, 
							pulvinar ac lorem. Morbi interdum, tortor eu lobortis porttitor, mi libero consectetur eros, ut lacinia 
							purus sem a magna. Nam vitae malesuada lectus, vitae pulvinar neque. Praesent eleifend dolor eros, sit 
							amet bibendum orci tincidunt ac. Mauris non pretium diam, at fermentum diam. Mauris malesuada luctus arcu 
							eget suscipit. Nulla facilisi. Integer non felis porttitor ipsum laoreet scelerisque a a metus. Vestibulum 
							non laoreet lorem. Nulla facilisi. 
						</p>
					<p><a href="#">Learn about trust at Airbnb</a></p>
				</div>
			</div>
		</div>
	</div>
</div>