<div class = "container" ng-controller = "HomeController as main">
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h3>Who Am I?</h3>
					<p>
						This application will track inventory items and associated costs as well as manage purchasing requirements. 
					</p>
				</div>
				<div class="col-md-4">
					<h3>What Can I Do?</h3>
					<p>
						<ul>
							<li>Add/Remove inventory items</li>
							<li>See current inventory value</li>
							<li>Create parts with a bill of materials</li>
							<li>Automatically adjust inventory based on material requirements</li>
							<li>Predict purchasing requirements</li>
						</ul>
					</p>
				</div>
				<div class="col-md-4">
					<h3>Where am I Going?</h3>
					<p>
						TBD
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
