<div class = "container" ng-controller = "HomeController as main">
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<h3>The Rundown</h3>
					<p>
						This application helps track and manage inventory by allowing users to add and subtract quantities for
						different parts.  Each part has the following attributes:
						<ul>
							<li>Part number - The unique part identifer in the inventory</li>
							<li>Description - A simple description of the part</li>
							<li>Cost - The dollar cost per part</li>
							<li>Quantity - The number of parts currently held within inventory</li>
							<li>UOM - Unit of Measurement used to measure the part</li>
							<li>Children - Any parts that are used to create this part</li>
						</ul>
						
						Parts can be added to the inventory at will and quantities can be removed or added as they are moved
						in and out of physical space.
					</p>
				</div>
				<div class="col-md-4">
					<h3>The Benefits</h3>
					<p>
						<ul>
							<li>Add/Remove inventory items</li>
							<li>See current inventory value</li>
							<li>Create parts with a bill of materials</li>
							<li>Automatically adjust inventory based on material requirements</li>
							<li>Help Predict purchasing requirements</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
