<div class = "container" ng-controller = "QueryController as main">
	<h1 ng-style = "main.containerStyle">{{main.title}}</h1>
	
	<div class = "editPopupWindow" ng-show = "main.editWindowShow">
			<form name="editForm" class="form">
				<!--  Main form row.  Contains inputs for part number and a description -->
				<div class="row">
					<!-- Part Number Field -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Part Number</label>
							<input type="text" class="form-control" ng-model="oldPartNumber" required />
						</div>
					</div>
					
					<!-- Part Description Field -->
					<div class = "col-sm-7">
						<div class="form-group">
							<label>Part Description</label>
							<input type="text" class="form-control" ng-model="oldDescription" required />
						</div>
					</div>
					
					<div class="col-sm-2">
						<button class="btn btn-success pull-Right queryEditPart" ng-click= "main.addPartToInventory()">Edit Part</button>
					</div>
				</div>
				
				<!--  Optional part fields for quantity, cost, and UOM-->
				<!--  These fields are displayed only if the part does not contain children -->
				<div class = "row" ng-show = "!otherPartsCheck">
					<!-- Part Quantity Field -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Quantity</label>
							<input type="text" class="form-control" ng-model="oldQuantity"/>
						</div>
					</div>
					
					<!-- Part Cost Field -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Cost</label>
							<input type="text" class="form-control" ng-model="oldCost"/>
						</div>
					</div>
					
					<!-- Part Unit of Measurement (UOM) Field -->
					<div class = "col-sm-3">
						<div class="form-group">
							<label>Unit of Measurement (UOM)</label><br/>
							<select class="input-sm" ng-model="oldUomSelect" ng-options="option.name for option in main.uomOptions"></select>
						</div>
					</div>
					
					<div class="col-sm-3">
						<button class="btn btn-success pull-Right queryRemovePart" ng-click= "main.removePart()">Remove Part</button>
					</div>
				</div>
				
				<div class = "row">
					<div class="col-sm-12">
						<button class="btn btn-success pull-Right queryCancelEdit" ng-click= "main.cancelEditPart()">Cancel</button>
					</div>
				</div>
			</form>
	</div>
	
	<div class = "col-sm-3 queryBackground" ng-style = "main.containerStyle">
		<h3>Search for an Item</h3>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="search"></span>
			</span>
			<input type="text" class="form-control" ng-model="main.searchInput">
		</div>
		<br/>
		<br/>
		<div>
			<select class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
		</div>
		<br/>
		<br/>
		<br/>
		<div>
			<p>
				Search for a part number using the search box.  Click a part row to show the part makeup.
			</p>
		</div>
	</div>
	
	<div class="col-md-9 queryBackground"  ng-style = "main.containerStyle">
		<h3>Inventory Items</h3>
		<div class = "output-group">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in main.parts | filter:{partNumber:main.searchInput} | orderBy:main.order.key:main.order.reverse" ng-click="main.expand(item)">
					{{item.partNumber}} : {{item.desc}}
					<span class="badge editBadge" ng-show = "item.children.length == 0" ng-click = "main.openEditWindow(item)">EDIT</span>
					<span class="badge" ng-show="main.parts.length > 0">Quantity: {{item.quantity}}</span>
					<span class="badge" ng-show="main.parts.length > 0">Cost: ${{item.cost}}</span>
					<span class="badge hadChildrenBadge" ng-show="item.children.length > 0">Contains {{item.children.length}} parts</span>
					<span class="badge" ng-show="item.children.length == 0">UOM: {{item.uom}}</span>
					<ul class="list-group" ng-show="item.show">
						<li class="list-group-item" ng-repeat="child in item.children">
							{{child.partNumber}} : {{child.desc}}
							<span class="badge">Parts per Item: {{child.ppi}}</span>
							<span class="badge">Quantity: {{child.quantity}}</span>
							<span class="badge">Cost: ${{child.cost}}</span>
						</li>
					</ul>  
				</li>
			</ul>
		</div>
	</div>
</div>
