<div class = "container" ng-controller = "QueryController as main">
	<h1>{{main.title}}</h1>
	
	<div class = "col-sm-3">
		<h3>Search for an Item</h3>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="search"></span>
			</span>
			<input type="text" class="form-control" ng-model="main.searchInput">
		</div>
		<br/>
		<br/>
		<div>
			<select class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
		</div>
		<br/>
		<br/>
		<br/>
		<div>
			<p>
				Search for a part number using the search box.  Click a part row to show the part makeup.
			</p>
		</div>
	</div>
	
	<div class="col-md-9">
		<h3>Inventory Items</h3>
		<div class = "output-group">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in main.parts | filter:{partNumber:main.searchInput} | orderBy:main.order.key:main.order.reverse" ng-click="main.expand(item)">
					{{item.partNumber}} : {{item.desc}}
					<span class="badge" ng-show="main.parts.length > 0">Quantity: {{item.quantity}}</span>
					<span class="badge" ng-show="main.parts.length > 0">Cost: ${{item.cost}}</span>
					<span class="badge hadChildrenBadge" ng-show="item.children.length > 0">Contains {{item.children.length}} parts</span>
					<span class="badge" ng-show="item.children.length == 0">UOM: {{item.uom}}</span>
					<ul class="list-group" ng-show="item.show">
						<li class="list-group-item" ng-repeat="child in item.children">
							{{child.partNumber}} : {{child.desc}}
							<span class="badge">Parts per Item: {{child.ppi}}</span>
							<span class="badge">Quantity: {{child.quantity}}</span>
							<span class="badge">Cost: ${{child.cost}}</span>
						</li>
					</ul>  
				</li>
			</ul>
		</div>
	</div>
</div>
