.panel-body{
    padding : 0px;
}

.navbar-fixed-top {
	background-color: #303030;
}

.nav a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
    border-radius: 5px;
}

.nav a:hover{
	color: black;
}


.header-img {
	height:auto; 
	width:auto; 
	max-width:15.5px; 
	max-height:15.5px;
}

.jumbotron {
	background-image:url("../img/darkBackground.jpg");
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	  position: relative;
	  top:10px;
}

.jumbotron h1 {
	  color: #fff;
	  font-size: 48px;  
	  font-family: 'Shift', sans-serif;
	  font-weight: bold;
}

.jumbotron p {
	  font-size: 20px;
	  color: #fff;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.badge {
	background-color: #000000;
	font-weight: normal;
}


.list-group {
    height: 500px;
	overflow: scroll;
    overflow-x: hidden;
	padding-right: 0px;
}

.list-group  .list-group {
	margin-top: 10px;
	margin-right: -14px;
	height: auto;
}

.list-group .list-group .list-group-item {
	background-color: #D9D9D9;
	margin-right: -14px;
	padding-right: 27px;
	border: 1px solid #A5A5A5;
}


.list-group .list-group .list-group-item .badge {
	background-color: #1B2F44;
	font-weight: normal;
}

select.input-sm {
	color: #000000;
	font-size: 14px;
	width: 260px;
	height: 38px;
}

.hadChildrenBadge {
	background-color: #32485E;
}

.queryBackground {
	z-index: 1;
}

.popupWindow{
	position: fixed;
	width: 675px;
	top: 210px;
	left: 425px;
	padding: 20px;
	z-index: 2;
	background-color: #DADADA;
	border: 2px solid;
    border-radius: 25px;
}


.querySearch{
	position: fixed;
	width: 275px;
	height: 275px;
	top: 350px;
	left: 130px;
	padding: 20px;
	border: 2px solid;
    border-radius: 25px;
}

.queryEditPart {
	margin-top: 27px;
}

.queryRemovePart {
	margin-top: 27px;
	background-color: #CD684A;
	border: #F23B3B;
}

.queryRemovePart:hover {
	margin-top: 27px;
	background-color: #BB6145;
}

.queryCancelEdit {
	margin-top: 27px;
	background-color: #7A7A7A;
	border: #F23B3B;
}

.queryCancelEdit:hover {
	margin-top: 27px;
	background-color: #5A5A59;
}

.editBadge {
	position: relative;
	top: 1px;
    background-repeat: no-repeat;
    background-size: 17px;
	background-color: white;
    border-radius: 0px;
	color: black;
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.badge {
	font-size: 13px;  
	font-family: 'Shift', sans-serif;
}

.addIcon {
	background-image:url("../img/add.png");
}

.subtractIcon {
	background-image:url("../img/subtract.png");
}

.removeIcon {
	background-image:url("../img/remove.png");
}

.infoIcon {
	background-image:url("../img/info.png");
}

.partRow {
	font-size: 14px;  
	font-family: 'Shift', sans-serif;
}

.removeBadge {
	background-color: #CD684A;
	color: white;
	font-weight: bold;
}

.removeBadge:hover {
	background-color: #BB6145;
	cursor: pointer;
}

.childListGroup {
	height: auto;
}

.addChildButton {
	margin-top: 25px;
}

.viewResponse {
	margin-top: 25px;
	margin-left: 25px;
	height: 20px;
	font-size: 14px;  
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.message{
    display:none;
    color:#000;
    background:#fff;
    position:absolute;
	top: -20px;
    left:20px;
}

.anchor:hover  .message{
    display:block !important;
    z-index:10;
}
